/* main#login {
  height: 100vh;
  background: url('../assets/bg-patient.jpg') center center fixed no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: color-burn;
  top: 0;
  left: 0;
}


@media screen and (max-width: 1024px) {
  main#login {
    left: 50%;
    margin-left: -512px;
  }
}



.login-container:before {
  width: 400px;
  height: 550px;
  content: '';
  position: absolute;
  top: -25px;
  left: -25px;
  bottom: 0;
  right: 0;
  background: inherit;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.2);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
} */

.login-wrapper {
  background: #fff;
  height: 100vh;
}

.login-container {
  top: 50%;
  left: 50%;
  padding-top: 100px;
}
