.patient-info-wrapper {
  line-height: 30px;
}

.patient-info-wrapper > .patient-info-item {
  letter-spacing: 1px;
}

.patient-info-item label {
  font-weight: bolder;
  margin-right: 5px;
}
