body {
  background-color: #eeeeee !important;
}

.full-height {
  min-height: 100vh;
}

.login-page {
  background-color: black;
}

.background-login {
  background: url('./assets/bg-patient.jpg');
}

.table-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

dl {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 300px;      /* set the container width*/
  overflow: visible;
}
dl dt {
  flex: 0 0 50%;
  text-overflow: ellipsis;
  font-weight: bolder;
  padding-right: 10%;
  overflow: hidden;
}
dl dd {
  flex:0 0 50%;
  margin-left: auto;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
